internal/app/ranking/model/__pycache__/
internal/app/ranking/model/.venv/
logs/indexedURLs.txt

main.exe

.dockerignore
dockerfile
dataset.csv

internal/app/ramking/model/dockerfile
internal/app/ramking/model/.dockerignore