internal/app/ranking/model/__pycache__/
internal/app/ranking/model/.venv/
logs/indexedURLs.txt

main.exe

.Dockerignore
Dockerfile
dataset.csv

internal/app/ramking/model/Dockerfile
internal/app/ramking/model/.Dockerignore