internal/app/semantic_embeddings/__pycache__/
internal/app/semantic_embeddings/.venv/
internal/app/semantic_embeddings/.idea/

internal/test

index

internal/view/.idea/
internal/view/.next/
internal/view/node_modules/
internal/view/.vercel
internal/view/.env.local
internal/view/next-env.d.ts
logs/*.txt


main.exe

dataset.csv
.env